@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.rectSelectWrapper .css-13cymwt-control,
.rectSelectWrapper .css-t3ipsp-control {
  padding: 4px 14px;
  border: 1px solid transparent;
  width: 100%;
  line-height: 1.25;
  color: #8e97a6;
  appearance: none;
  min-height: 48px;
  border-radius: 18px;
  background-color: #6470840A;
  box-shadow:  0 0 0 1px transparent;
}
.rectSelectWrapper .css-qbdosj-Input,
.rectSelectWrapper .css-1dimb5e-singleValue {
  color: #8e97a6;
 
}
.rectSelectWrapper .css-13cymwt-control:hover,
.rectSelectWrapper .css-t3ipsp-control:hover,
.rectSelectWrapper .css-t3ipsp-control:focus {
  border: 1px solid #001b44;

}

.rectSelectWrapper .css-1u9des2-indicatorSeparator {
  display: none;
}
.filterWrapper .css-13cymwt-control {
  display: none;
}


.gradientBg{
  background: linear-gradient(90deg, rgba(198,85,206,1) 60%, rgba(254,225,226,1) 120%);
}
.beforeLine::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: #C655CE;
}

.slider-picker {
  width: 100%;
}
.circle_rounded{
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  position: absolute;
  top: -80px;
  left: -80px;
  background-color: #D173D2;
}
.circle{
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  position: absolute;
  top: 126px;
  left: -82px;
  background-color: #D173D2;
}
.clip-path-before::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
.clip-path-before::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}