@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: rgb(var(--foreground-rgb));
} */

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: #c655ce;
  border: 0.1em solid #fff;
  border-radius: 100vw;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #c655ce #ffffff;
  scrollbar-width: thin;
}

.rectSelectWrapper .css-13cymwt-control,
.rectSelectWrapper .css-t3ipsp-control {
  padding: 4px 14px;
  border: 1px solid transparent;
  width: 100%;
  line-height: 1.25;
  color: #8e97a6;
  appearance: none;
  min-height: 48px;
  border-radius: 18px;
  background-color: #6470840a;
  box-shadow: 0 0 0 1px transparent;
}
.rectSelectWrapper .css-qbdosj-Input,
.rectSelectWrapper .css-1dimb5e-singleValue {
  color: #8e97a6;
}
.rectSelectWrapper .css-13cymwt-control:hover,
.rectSelectWrapper .css-t3ipsp-control:hover,
.rectSelectWrapper .css-t3ipsp-control:focus {
  border: 1px solid #001b44;
}

.rectSelectWrapper .css-1u9des2-indicatorSeparator {
  display: none;
}
.filterWrapper .css-13cymwt-control {
  display: none;
}

.gradientBg {
  background: linear-gradient(
    90deg,
    rgba(198, 85, 206, 1) 60%,
    rgba(254, 225, 226, 1) 120%
  );
}
.beforeLine::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 49%;
  height: 4px;
  background-color: #c655ce;
}

.slider-picker {
  width: 100%;
}
.circle_rounded {
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  position: absolute;
  top: -80px;
  left: -80px;
  background-color: #d173d2;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  position: absolute;
  top: 126px;
  left: -82px;
  background-color: #d173d2;
}
.clip-path-before::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.clip-path-before::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hue-picker {
  width: 100% !important;
}
.hue-horizontal {
  border-radius: 12px !important;
}

.carousel_image {
  width: 50%;
}

.group .inline-flex {
  background-color: #6b7280;
}

.group .inline-flex:hover {
  background-color: #6d778c !important;
}

.right_one {
  left: 100% !important;
  top: 476px !important;
  opacity: 0.3;
}

.afterLine::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 49%;
  height: 4px;
  background-color: #c655ce;
}
